Crisis Response App/flows/COVID_19_Report.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>NoImpacted</name>
        <choiceText>Yes, I am currently required to self-quarantine.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesIAmSafe</name>
        <choiceText>No, I am not self-quarantined.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safe</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Crisis_Exists</name>
        <label>Crisis Exists</label>
        <locationX>1540</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Crisis_Does_Not_Exist_Create_Crisis_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Crisis Currently Exists</defaultConnectorLabel>
        <rules>
            <name>Crisis_Exists_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Crisis_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectInfoOnPerson</targetReference>
            </connector>
            <label>Crisis Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Individual_Safe</name>
        <label>Is Individual Safe?</label>
        <locationX>1510</locationX>
        <locationY>862</locationY>
        <defaultConnector>
            <targetReference>Look_for_Marked_Safe_Impact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Safe</defaultConnectorLabel>
        <rules>
            <name>Individual_is_Safe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_safe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Impacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_ve_been_exposed_to_someone_who_has_tested_positive_for_COVID_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TravelledHighRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Currently_Showing_Symptoms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Level</targetReference>
            </connector>
            <label>Individual is Impacted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Found</name>
        <label>Is Record Found</label>
        <locationX>1953</locationX>
        <locationY>855</locationY>
        <defaultConnector>
            <targetReference>IsEmployee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Person Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Individual_Safe</targetReference>
            </connector>
            <label>Already Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marked_Safe_record_already_exists</name>
        <label>Marked Safe record already exists?</label>
        <locationX>1042</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Create_Impact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record does not exist</defaultConnectorLabel>
        <rules>
            <name>Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Marked_Safe_Impact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Marked_Safe_Personal_Impact</targetReference>
            </connector>
            <label>Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Exists_Positive</name>
        <label>Record Exists?</label>
        <locationX>50</locationX>
        <locationY>742</locationY>
        <defaultConnector>
            <targetReference>Create_Personal_Impact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Positive_Impact_Record_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Placeholder_Impact_0_0</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Exists_Positive_0</name>
        <label>Record Exists?</label>
        <locationX>578</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>Create_Personal_Impact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Exposed_Impact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Placeholder_Impact</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Exists_Positive_0_0</name>
        <label>Record Exists?</label>
        <locationX>727</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Create_Personal_Impact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Ill_Impact_Record_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Placeholder_Impact_0_0_0</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_Level</name>
        <label>Risk Level</label>
        <locationX>1199</locationX>
        <locationY>860</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tested_Positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_safe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Impacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_Positive_Impact_Record_0_0</targetReference>
            </connector>
            <label>Self-Quarantined</label>
        </rules>
        <rules>
            <name>Exposed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>I_ve_been_exposed_to_someone_who_has_tested_positive_for_COVID_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TravelledHighRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_Exposed_Impact_Record</targetReference>
            </connector>
            <label>Exposed</label>
        </rules>
        <rules>
            <name>Ill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Currently_Showing_Symptoms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_Ill_Impact_Record_0</targetReference>
            </connector>
            <label>Ill</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClassOfService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Class_of_Service__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DomesticIntl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Domestic_or_International__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForTravel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Travel__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_to_Company__c</picklistField>
        <picklistObject>Impacted_Person__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DescriptionOfImpact</name>
        <dataType>String</dataType>
        <expression>&quot;Date Self Quarantined: &quot; &amp;  TEXT({!When_did_you_test_positive}) &amp; &quot;, &quot; &amp;
&quot;Not Feeling Well:&quot; &amp; IF({!Currently_Showing_Symptoms}, &quot;Yes&quot;, &quot;No&quot;) &amp; &quot;, &quot; &amp;
&quot;Date Travelled to High Risk Location:&quot; &amp; TEXT({!When_did_you_last_travel_to_a_high_risk_location}) &amp; &quot;, &quot; &amp;
&quot;Exposed Date:&quot; &amp; TEXT({!When_were_you_last_exposed})</expression>
    </formulas>
    <formulas>
        <name>ImpactNameExposed</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Crisis_ID.Name} &amp; &quot; - Exposed&quot;</expression>
    </formulas>
    <formulas>
        <name>ImpactNameIll</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Crisis_ID.Name} &amp; &quot; - Not Feeling Well&quot;</expression>
    </formulas>
    <formulas>
        <name>ImpactNamePositive</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Crisis_ID.Name} &amp; &quot; - Self-Quarantine&quot;</expression>
    </formulas>
    <formulas>
        <name>MarkedSafeFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Crisis_ID.Name} &amp; &quot; - Marked Safe&quot;</expression>
    </formulas>
    <interviewLabel>COVID-19 Report {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>COVID-19 Risk Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Impact_Record</name>
        <label>Create Impact Record</label>
        <locationX>1296</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Look_for_Marked_Safe_Impact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis__c</field>
            <value>
                <elementReference>Get_Most_Recent_Crisis_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Impact__c</field>
            <value>
                <stringValue>Person marked themselves safe. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MarkedSafeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity_of_Impact__c</field>
            <value>
                <stringValue>Marked Safe / Not Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Marked_Safe_Personal_Impact</name>
        <label>Create Marked Safe Personal Impact</label>
        <locationX>1120</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>ThankYouForMarkingSafe</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Personal_Impact__c</field>
            <value>
                <stringValue>Person marked themselves safe on the portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>Look_for_Marked_Safe_Impact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Marked Safe / Not Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impacted_Individual_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Record</name>
        <label>Create Person Record</label>
        <locationX>2168</locationX>
        <locationY>1443</locationY>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_Address__c</field>
            <value>
                <elementReference>EmailEnteredFromLightning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_E_Mail__c</field>
            <value>
                <elementReference>ManagerEmailFromLightning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Name__c</field>
            <value>
                <elementReference>Manager_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_is_your_name</elementReference>
            </value>
        </inputAssignments>
        <object>Impacted_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Personal_Impact</name>
        <label>Create Personal Impact</label>
        <locationX>52</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>ThanksForInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Personal_Impact__c</field>
            <value>
                <elementReference>DescriptionOfImpact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>Look_for_Positive_Impact_Record_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Time_Off__c</field>
            <value>
                <elementReference>I_require_time_off_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Currently Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impacted_Individual_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Personal_Impact_0</name>
        <label>Create Personal Impact</label>
        <locationX>572</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>ThanksForInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Personal_Impact__c</field>
            <value>
                <elementReference>DescriptionOfImpact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>Look_for_Exposed_Impact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Time_Off__c</field>
            <value>
                <elementReference>I_require_time_off_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Currently Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impacted_Individual_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Personal_Impact_0_0</name>
        <label>Create Personal Impact</label>
        <locationX>734</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>ThanksForInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Personal_Impact__c</field>
            <value>
                <elementReference>DescriptionOfImpact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>Look_for_Ill_Impact_Record_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Time_Off__c</field>
            <value>
                <elementReference>I_require_time_off_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Currently Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impacted_Individual_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Placeholder_Impact</name>
        <label>Create Placeholder Impact</label>
        <locationX>402</locationX>
        <locationY>822</locationY>
        <connector>
            <targetReference>Look_for_Exposed_Impact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis__c</field>
            <value>
                <elementReference>Get_Most_Recent_Crisis_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImpactNameExposed</elementReference>
            </value>
        </inputAssignments>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Placeholder_Impact_0_0</name>
        <label>Create Placeholder Impact</label>
        <locationX>173</locationX>
        <locationY>1011</locationY>
        <connector>
            <targetReference>Look_for_Positive_Impact_Record_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis__c</field>
            <value>
                <elementReference>Get_Most_Recent_Crisis_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImpactNamePositive</elementReference>
            </value>
        </inputAssignments>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Placeholder_Impact_0_0_0</name>
        <label>Create Placeholder Impact</label>
        <locationX>926</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Look_for_Ill_Impact_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis__c</field>
            <value>
                <elementReference>Get_Most_Recent_Crisis_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImpactNameIll</elementReference>
            </value>
        </inputAssignments>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crisis_Does_Not_Exist_Create_Crisis_Record</name>
        <label>Crisis Does Not Exist - Create Crisis Record</label>
        <locationX>1205</locationX>
        <locationY>1349</locationY>
        <connector>
            <targetReference>Get_Most_Recent_Crisis_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis_Description__c</field>
            <value>
                <stringValue>This was created automatically because a crisis record did not exist when employees reported impact to an existing crisis. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>COVID-19</stringValue>
            </value>
        </inputAssignments>
        <object>Crisis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Most_Recent_Crisis_ID</name>
        <label>Get Most Recent Crisis ID</label>
        <locationX>1384</locationX>
        <locationY>1042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crisis_Exists</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Crisis__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Record</name>
        <label>Get Person Record</label>
        <locationX>1962</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Found</targetReference>
        </connector>
        <filters>
            <field>E_Mail_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailEnteredFromLightning</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impacted_Person__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Exposed_Impact_Record</name>
        <label>Look for Exposed Impact Record</label>
        <locationX>511</locationX>
        <locationY>978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Exists_Positive_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImpactNameExposed</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Ill_Impact_Record_0</name>
        <label>Look for Ill Impact Record</label>
        <locationX>819</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Exists_Positive_0_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImpactNameIll</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Marked_Safe_Impact_Record</name>
        <label>Look for Marked Safe Impact Record</label>
        <locationX>1528</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marked_Safe_record_already_exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarkedSafeFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Positive_Impact_Record_0_0</name>
        <label>Look for Positive Impact Record</label>
        <locationX>222</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Exists_Positive</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImpactNamePositive</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>CollectInfoOnPerson</name>
        <label>CollectInfoOnPerson</label>
        <locationX>1709</locationX>
        <locationY>1044</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <fields>
            <name>PersonInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you for letting us know. We have a bit more information to gather to make sure we can let the right people know.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_your_name</name>
            <dataType>String</dataType>
            <fieldText>What is your full name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FullFormEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What is your email address?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailEnteredFromLightning</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Mobile_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Email</name>
        <label>Enter If Impacted</label>
        <locationX>1256</locationX>
        <locationY>1042</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Most_Recent_Crisis_ID</targetReference>
        </connector>
        <fields>
            <name>Explain</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This form is used to communicate whether or not you&apos;ve been impacted by COVID-19. &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_safe</name>
            <choiceReferences>YesIAmSafe</choiceReferences>
            <choiceReferences>NoImpacted</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>YesIAmSafe</defaultSelectedChoiceReference>
            <fieldText>Are you currently required to self-quarantine?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_did_you_test_positive</name>
            <dataType>Date</dataType>
            <fieldText>When did you being self-quarantine?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_safe</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Impacted</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CheckAll</name>
            <fieldText>&lt;p&gt;Check all of the following that apply to you: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Currently_Showing_Symptoms</name>
            <dataType>Boolean</dataType>
            <fieldText>I&apos;m not feeling well</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TravelledHighRisk</name>
            <dataType>Boolean</dataType>
            <fieldText>I&apos;ve travelled to a high risk location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_did_you_last_travel_to_a_high_risk_location</name>
            <dataType>Date</dataType>
            <fieldText>When did you last travel to a high risk location?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TravelledHighRisk</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_ve_been_exposed_to_someone_who_has_tested_positive_for_COVID_19</name>
            <dataType>Boolean</dataType>
            <fieldText>I&apos;ve been exposed to someone who has tested positive for COVID-19</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_were_you_last_exposed</name>
            <dataType>Date</dataType>
            <fieldText>When were you last exposed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_ve_been_exposed_to_someone_who_has_tested_positive_for_COVID_19</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_require_time_off_work</name>
            <dataType>Boolean</dataType>
            <fieldText>I require time off work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsEmployee</name>
        <label>IsEmployee</label>
        <locationX>2310</locationX>
        <locationY>1088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Person_Record</targetReference>
        </connector>
        <fields>
            <name>CompanyRoleText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;What is your role in the company?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ManagerEmailFromLightningComponent</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>manager@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manager&apos;s E-Mail</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ManagerEmailFromLightning</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThanksForInfo</name>
        <label>ThanksForInfo</label>
        <locationX>422</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThanksYouForInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for sharing that you&apos;ve been impacted. Your safety is our greatest concern. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We are closely monitoring the situation, and will provide updates as they come. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYouForMarkingSafe</name>
        <label>ThankYouForMarkingSafe</label>
        <locationX>1120</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for marking yourself safe. If this changes, please update your status using this wizard.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1122</locationX>
        <locationY>1042</locationY>
        <connector>
            <targetReference>Enter_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailEnteredFromLightning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerEmailFromLightning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SafeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
