Crisis Response App/flows/Employee_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>General_Email_Notification</name>
        <label>General Email Notification</label>
        <locationX>2336</locationX>
        <locationY>714</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Received</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your request has been received. Thank you for submitting your request. You will be notified via e-mail once your request is reviewed. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Person_Record.E_Mail_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Request Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RW_Email_Notification</name>
        <label>RW - Email Notification</label>
        <locationX>2339</locationX>
        <locationY>96</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Received</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your remote working request has been received. Thank you for submitting your request. You will be notified via e-mail once your request is reviewed. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Person_Record.E_Mail_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Remote Working Request Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Email_Notification</name>
        <label>Job-Related Items Email Notification</label>
        <locationX>2355</locationX>
        <locationY>385</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Received</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your job-related items request has been received. Thank you for submitting your request. You will be notified via e-mail once your request is reviewed. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Person_Record.E_Mail_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Job-Related Items Request Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Employee</name>
        <label>Employee?</label>
        <locationX>1217</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>IsEmployee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Employee</defaultConnectorLabel>
        <rules>
            <name>Is_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_relationship_to_the_company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePersonNonEmployee</targetReference>
            </connector>
            <label>Is Not Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Found</name>
        <label>Is Record Found</label>
        <locationX>1043</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>CollectInfoOnPerson</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Person Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Non_Travel_Request</targetReference>
            </connector>
            <label>Already Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Non_Travel_Request</name>
        <label>Type of Non-Travel Request</label>
        <locationX>1045</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID_Gen</targetReference>
            </connector>
            <label>General Request</label>
        </rules>
        <rules>
            <name>Job_Related_Items_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job-Related Items Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID_Tech</targetReference>
            </connector>
            <label>Job-Related Items Request</label>
        </rules>
        <rules>
            <name>Remote_Working_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Working Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Record_Type_ID_RW</targetReference>
            </connector>
            <label>Remote Working Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Request_Decision</name>
        <label>Type of Request</label>
        <locationX>342</locationX>
        <locationY>633</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_travel_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Working Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job-Related Items Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Email</targetReference>
            </connector>
            <label>Non-Travel Request</label>
        </rules>
        <rules>
            <name>Travel_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Travel_Approval_Request</targetReference>
            </connector>
            <label>Travel Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClassOfService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Class_of_Service__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryMethodPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_Method__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DomesticIntl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Domestic_or_International__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForTravel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Travel__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_to_Company__c</picklistField>
        <picklistObject>Impacted_Person__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Employee Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Employee Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_General_Request_Record</name>
        <label>Create General Request Record</label>
        <locationX>2092</locationX>
        <locationY>709</locationY>
        <connector>
            <targetReference>General_Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Request__c</field>
            <value>
                <elementReference>Description_of_Gen_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Request_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID_Gen.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Record</name>
        <label>Create Person Record</label>
        <locationX>547</locationX>
        <locationY>1327</locationY>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_Address__c</field>
            <value>
                <elementReference>LightningEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Number__c</field>
            <value>
                <elementReference>Home_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_E_Mail__c</field>
            <value>
                <elementReference>Manager_E_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Name__c</field>
            <value>
                <elementReference>Manager_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Phone__c</field>
            <value>
                <elementReference>Manager_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_is_your_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Number__c</field>
            <value>
                <elementReference>Office_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Company__c</field>
            <value>
                <elementReference>What_is_your_relationship_to_the_company</elementReference>
            </value>
        </inputAssignments>
        <object>Impacted_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RW_Request</name>
        <label>Create RW Request</label>
        <locationX>2089</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>RW_Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Request__c</field>
            <value>
                <elementReference>Description_of_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Remote Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Lookup_Record_Type_ID_RW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tech_Request</name>
        <label>Create Job-Related Items Request</label>
        <locationX>2093</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Tech_Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Method__c</field>
            <value>
                <elementReference>Delivery_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Request__c</field>
            <value>
                <elementReference>Justification_of_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ItemsNeeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID_Tech.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPN_Access_Needed__c</field>
            <value>
                <elementReference>VPN_Access_Needed</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePersonNonEmployee</name>
        <label>CreatePersonNonEmployee</label>
        <locationX>740</locationX>
        <locationY>1041</locationY>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_Address__c</field>
            <value>
                <elementReference>LightningEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Number__c</field>
            <value>
                <elementReference>Home_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_is_your_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Number__c</field>
            <value>
                <elementReference>Office_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Company__c</field>
            <value>
                <elementReference>What_is_your_relationship_to_the_company</elementReference>
            </value>
        </inputAssignments>
        <object>Impacted_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Record</name>
        <label>Get Person Record</label>
        <locationX>735</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Found</targetReference>
        </connector>
        <filters>
            <field>E_Mail_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LightningEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impacted_Person__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID_Gen</name>
        <label>Get Record Type ID - Gen</label>
        <locationX>1577</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_General_Request</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>crisisapp__Employee_Request__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID_Tech</name>
        <label>Get Record Type ID - Job Items</label>
        <locationX>1570</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tech_Request_Details</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>crisisapp__Employee_Request__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_ID_RW</name>
        <label>Lookup Record Type ID - RW</label>
        <locationX>1565</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_WFH_Details</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Remote_Working_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>crisisapp__Employee_Request__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CollectInfoOnPerson</name>
        <label>CollectInfoOnPerson</label>
        <locationX>1225</locationX>
        <locationY>807</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee</targetReference>
        </connector>
        <fields>
            <name>NoPersonFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We didn&apos;t find you in our employee database. Please fill out the following information to be added:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_your_name</name>
            <dataType>String</dataType>
            <fieldText>What is your full name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_is_your_relationship_to_the_company</name>
            <choiceReferences>RelationshipPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your relationship to the company?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Home_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Home Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Office_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Office Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_General_Request</name>
        <label>Create General Request</label>
        <locationX>1845</locationX>
        <locationY>711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_General_Request_Record</targetReference>
        </connector>
        <fields>
            <name>GeneralDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Please provide details of your request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Title</name>
            <dataType>String</dataType>
            <fieldText>Request Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_of_Gen_Request</name>
            <dataType>String</dataType>
            <fieldText>Description of Request</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Details of what is being requested and the justification&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gen_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_gen</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Email</name>
        <label>Enter Email Address</label>
        <locationX>555</locationX>
        <locationY>629</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <fields>
            <name>emailtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Next, let&apos;s look up who you are.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LightningEmailInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Enter Your Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LightningEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_WFH_Details</name>
        <label>Enter WFH Details</label>
        <locationX>1847</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_RW_Request</targetReference>
        </connector>
        <fields>
            <name>wfhrequest</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please provide details of your request to work remotely.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_of_Request</name>
            <fieldText>Description of Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Details of the remote working request including reasoning&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Date to start working remotely&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Expected date of returning to main work location&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Able_to_work_normal_hours</name>
            <dataType>Boolean</dataType>
            <fieldText>Able to work normal hours?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_related_items_needed</name>
            <dataType>Boolean</dataType>
            <fieldText>Job-related items needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsEmployee</name>
        <label>IsEmployee</label>
        <locationX>1225</locationX>
        <locationY>1329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Person_Record</targetReference>
        </connector>
        <fields>
            <name>CompanyRole</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;What is your role in the company?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_E_Mail</name>
            <dataType>String</dataType>
            <fieldText>Manager E-Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_Phone</name>
            <dataType>String</dataType>
            <fieldText>Manager Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Received</name>
        <label>Received</label>
        <locationX>2838</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WeGotIt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you, we have received your request. You will be notified via e-mail once reviewed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tech_Request_Details</name>
        <label>Job-Related Items Details</label>
        <locationX>1846</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Tech_Request</targetReference>
        </connector>
        <fields>
            <name>jobitemsdetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Please provide details of your request for job-related items.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ItemsNeeded</name>
            <dataType>String</dataType>
            <fieldText>Items Needed</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Description of the technology needed&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Justification_of_Request</name>
            <dataType>String</dataType>
            <fieldText>Justification of Request</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Why will you be needing the peripherals requested?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPN_Access_Needed</name>
            <dataType>Boolean</dataType>
            <fieldText>VPN Access Needed</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Do you need access to VPN to complete your job?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Needed</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When will you need your peripherals received?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_until</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;When will you need you be returning your peripherals?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Method</name>
            <choiceReferences>DeliveryMethodPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delivery Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Request</name>
        <label>Type of Request</label>
        <locationX>180</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_Request_Decision</targetReference>
        </connector>
        <fields>
            <name>Explanation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Use this form to create a new request. To start, tell us what you are looking for. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Travel Approval: &lt;/b&gt;Request to travel outside of normal work region&lt;/p&gt;&lt;p&gt;&lt;b&gt;Remote Working: &lt;/b&gt;Request to work from home/remotely &lt;/p&gt;&lt;p&gt;&lt;b&gt;Job-Related Items: &lt;/b&gt;If any extra tools or equipment are needed to preform your regular responsibilities &lt;/p&gt;&lt;p&gt;&lt;b&gt;General: &lt;/b&gt;Request outside of these categories.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>RequestTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>631</locationY>
        <connector>
            <targetReference>Type_of_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Travel_Approval_Request</name>
        <label>Travel Request</label>
        <locationX>349</locationX>
        <locationY>878</locationY>
        <flowName>Travel_Request</flowName>
    </subflows>
    <variables>
        <name>LightningEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
