Crisis Response App/flows/Populate_Approver_For_Request_And_Submit_for_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1224</locationX>
        <locationY>1034</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Request_Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Approver_Exists</name>
        <label>Approver Exists?</label>
        <locationX>956</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>No Active Approver</defaultConnectorLabel>
        <rules>
            <name>Approver_Does_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Exec_Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_on_Exec_Request</targetReference>
            </connector>
            <label>Approver Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver_Exists_0</name>
        <label>Approver Exists?</label>
        <locationX>966</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>No Active Approver</defaultConnectorLabel>
        <rules>
            <name>Approver_Does_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Active_Travel_Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_on_Travel</targetReference>
            </connector>
            <label>Approver Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver_Exists_0_0</name>
        <label>Approver Exists?</label>
        <locationX>744</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>No Active Approver</defaultConnectorLabel>
        <rules>
            <name>Approver_Does_Exists_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Active_General_Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_on_General</targetReference>
            </connector>
            <label>Approver Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver_Exists_0_0_0</name>
        <label>Approver Exists?</label>
        <locationX>350</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>No Active Approver</defaultConnectorLabel>
        <rules>
            <name>Approver_Does_Exists_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Active_Tech_Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_on_Tech</targetReference>
            </connector>
            <label>Approver Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver_Exists_0_0_0_0</name>
        <label>Approver Exists?</label>
        <locationX>114</locationX>
        <locationY>688</locationY>
        <defaultConnectorLabel>No Active Approver</defaultConnectorLabel>
        <rules>
            <name>Approver_Does_Exists_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Active_Remote_Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_on_Remote</targetReference>
            </connector>
            <label>Approver Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_kind_of_request</name>
        <label>What kind of request?</label>
        <locationX>350</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Executive_Approval_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request_Record.Executive_Approval_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Exec_Approver</targetReference>
            </connector>
            <label>Executive Approval Required</label>
        </rules>
        <rules>
            <name>Travel_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel_Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Active_Travel_Approver</targetReference>
            </connector>
            <label>Travel Request</label>
        </rules>
        <rules>
            <name>General_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Active_General_Approver</targetReference>
            </connector>
            <label>General Request</label>
        </rules>
        <rules>
            <name>Technology_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Active_Tech_Approver</targetReference>
            </connector>
            <label>Technology Request</label>
        </rules>
        <rules>
            <name>Work_Remote_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote_Working_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Active_Remote_Approver</targetReference>
            </connector>
            <label>Work Remote Request</label>
        </rules>
    </decisions>
    <description>Turn this on, and disable the &quot;Populate Approver for Request&quot; flow, if you have approval processes configured for Crisis Employee Requests to automatically submit an employee request for approval after populating the &quot;approver&quot; field.</description>
    <interviewLabel>Populate Approver For Request And Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Populate Approver For Request And Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Request_Record</name>
        <label>Get Request Record</label>
        <locationX>212</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_kind_of_request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Active_General_Approver</name>
        <label>Lookup Active General Approver</label>
        <locationX>541</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver_Exists_0_0</targetReference>
        </connector>
        <filters>
            <field>Approver_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Requests</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request_Approvers__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Active_Remote_Approver</name>
        <label>Lookup Active Remote Approver</label>
        <locationX>122</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver_Exists_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Approver_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Remote Working Requests</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request_Approvers__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Active_Tech_Approver</name>
        <label>Lookup Active Tech Approver</label>
        <locationX>358</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver_Exists_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Approver_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology Requests</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request_Approvers__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Active_Travel_Approver</name>
        <label>Lookup Active Travel Approver</label>
        <locationX>750</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver_Exists_0</targetReference>
        </connector>
        <filters>
            <field>Approver_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel Approvals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request_Approvers__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Exec_Approver</name>
        <label>Lookup Exec Approver</label>
        <locationX>777</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver_Exists</targetReference>
        </connector>
        <filters>
            <field>Approver_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive Approver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request_Approvers__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approver_on_Exec_Request</name>
        <label>Update Approver on Exec Request</label>
        <locationX>1203</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Lookup_Exec_Approver.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_on_General</name>
        <label>Update Approver on General</label>
        <locationX>957</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Lookup_Active_General_Approver.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_on_Remote</name>
        <label>Update Approver on Remote</label>
        <locationX>122</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Lookup_Active_Remote_Approver.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_on_Tech</name>
        <label>Update Approver on Tech</label>
        <locationX>358</locationX>
        <locationY>889</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Lookup_Active_Tech_Approver.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_on_Travel</name>
        <label>Update Approver on Travel</label>
        <locationX>1192</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Lookup_Active_Travel_Approver.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Request_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
