flows/Crisis_App_Welcome_Tutorial.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>assistanceprograms</name>
        <choiceText>Assistance Programs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>CrisisDescription</name>
        <choiceText>Crisis Overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>crisis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Donotskip</name>
        <choiceText>Do Not Skip Ahead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dontskip</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImpacttoPeople</name>
        <choiceText>People</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PeopleImpact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Location</name>
        <choiceText>Locations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>locations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requests</name>
        <choiceText>Employee Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>requests</stringValue>
        </value>
    </choices>
    <decisions>
        <name>SkipAhead</name>
        <label>SkipAhead</label>
        <locationX>284</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>CreateExplainCrisis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Impact_To_People</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Or_skip_ahead_to_one_of_these_sections</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PeopleImpact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Impact_to_People_Overview</targetReference>
            </connector>
            <label>Impact To People</label>
        </rules>
        <rules>
            <name>Crisis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Or_skip_ahead_to_one_of_these_sections</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>crisis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExplainImpact</targetReference>
            </connector>
            <label>Crisis</label>
        </rules>
        <rules>
            <name>Locations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Or_skip_ahead_to_one_of_these_sections</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>locations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LocationDesc</targetReference>
            </connector>
            <label>Locations</label>
        </rules>
        <rules>
            <name>REquestsskip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Or_skip_ahead_to_one_of_these_sections</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Requests_Overview</targetReference>
            </connector>
            <label>Requests</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CrisisTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Crisis_Type__c</picklistField>
        <picklistObject>Crisis__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Crisis App Welcome Tutorial {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Crisis App Welcome Tutorial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Crisis</name>
        <label>Create Crisis</label>
        <locationX>634</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>ExplainImpact</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Crisis_Type__c</field>
            <value>
                <elementReference>CrisisTypePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameOfCrisis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Crisis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>BusinessImpact</name>
        <label>Business Impact</label>
        <locationX>633</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewsWelcome</targetReference>
        </connector>
        <fields>
            <name>BusinessImpactDesc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Next, click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Business Continuity&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab in the crisis record. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Here, you can see which locations have been impacted.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;(Closures, Partial Closures, etc.) &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Here is what it will look like when populated:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_BusinessImpact1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_BusinessImpact1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>businessimpact2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;New&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; next to the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Locations&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; list. Add the location you work at.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You can also click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Locations &lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;tab at the very top of the screen to manage all of your locations. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Inside of a location record, you can: &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Schedule Cleanings&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Manage Repairs&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Collaborate Around Closures &amp;amp; Re-Openings&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to continue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateExplainCrisis</name>
        <label>Explain Crisis</label>
        <locationX>470</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Crisis</targetReference>
        </connector>
        <fields>
            <name>LetsStart</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; A &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Crisis&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; record is where you&apos;ll manage everything about an ongoing crisis:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;i style=&quot;font-size: 18px;&quot;&gt;How many people are impacted&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;font-size: 18px;&quot;&gt;How many locations are impacted&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;font-size: 18px;&quot;&gt;How many people we&apos;ve helped with assistance programs&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;font-size: 18px;&quot;&gt;News we&apos;ve published to the employee portal&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Let&apos;s start by creating a &lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Crisis&lt;/b&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; record:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NameOfCrisis</name>
            <dataType>String</dataType>
            <fieldText>What is the name of the crisis you want to create?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>How would you describe this in a little more text?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_type_of_crisis_is_this</name>
            <choiceReferences>CrisisTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of crisis is this?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExplainCrisisMore</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Once created, you&apos;ll be able to access the crisis record by clicking on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Crises&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab up top. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Here is what your record will look like:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_Impact1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_Crisis1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>clickonyouronw</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Crises&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab, then click the drop down on the top-left of your screen where it says &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Recently Viewed&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;﻿Click the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;All&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; list to see your crisis record.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Click on your new Crisis record. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClickNextCrisis</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Then, click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Portal</name>
        <label>Employee Portal</label>
        <locationX>54</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PortalText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;And that&apos;s it! Now you understand how to use the Crisis Response App.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Make sure you also take a look at the documentation listed on our AppExchange listing to learn how to enable the Employee Portal so all of your employees can take advantage of:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Marking themselves as safe/impacted&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Making Requests&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Obtaining the latest company news related to the crisis&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_Portal1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_Portal1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Requests_Overview</name>
        <label>Employee Requests Overview</label>
        <locationX>80</locationX>
        <locationY>661</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Portal</targetReference>
        </connector>
        <fields>
            <name>EmployeeRequestsDEsc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Employee Requests are where you can manage requests that employees create for Travel, new equipment, remote working, or any other requests.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_Requests1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_Requests1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>requests2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Employees may submit requests through the employee portal. When they do, the requests will show up here. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; Go ahead and create a new requests for yourself using the wizard directly to the right of this tutorial, titled &lt;/span&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New Employee Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_Requests2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_Requests2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>requests3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Once complete, you should now see your request listed here. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You&apos;ll notice that right now, no one was asked to approve your request. However, approvals can be configured on your home page and by following this app&apos;s installation documentation, found on the AppExchange listing. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Navigate to the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Home&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab, and click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Approver Settings&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab to determine who should approve different requests.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_Requests3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_Requests3</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>requests4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You can assign a new approver by clicking the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;New&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; button. This will determine which user populates the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Approver&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; field on the request, depending on the type of request.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to continue. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExplainImpact</name>
        <label>ExplainImpact</label>
        <locationX>634</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BusinessImpact</targetReference>
        </connector>
        <fields>
            <name>IntroImpact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Within the {!NameOfCrisis} crisis record, you can see how many employees are impacted in the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Well-Being&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Well-Being&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab in the Crisis. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Here is what it should look like: &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_Impact</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_Impact1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>impact2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Impact&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;A type of impact that a person may experience &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;(Displaced, Hospitalized, etc.) &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Crisis Assistance Programs&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Programs you can create to help employees.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;----&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; Create some &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Impact&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; records to get started. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;New&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; near the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Impact&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; list. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Fill out details of what type of impact a person may experience.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;----&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Once you&apos;re done, click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Impact_to_People_Overview</name>
        <label>Impact to People Overview</label>
        <locationX>449</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LocationDesc</targetReference>
        </connector>
        <fields>
            <name>ImpactTopeopledesc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;People &lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;tab allows you to follow up with reported instances of employee impact &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;(illness, displaced, can&apos;t work, etc.)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_PeopleImpact1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_PeopleImpact1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>people3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Mark Yourself as Safe or Impacted&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; button which is to the right of this tutorial, on the bottom of the screen. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Mark yourself as Safe&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;. You will see the you now appear as a Person in this tab. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Click into the person record that says your name&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;, and you can see that you have been marked safe! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;----&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Next, click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Locations &lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;tab at the top of the screen. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&quot;Next&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&quot; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Location Desc</description>
        <name>LocationDesc</name>
        <label>LocationDesc</label>
        <locationX>244</locationX>
        <locationY>661</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Requests_Overview</targetReference>
        </connector>
        <fields>
            <name>LocationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Locations are how you keep track of office buildings, retail stores, etc. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;New&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to create a new location. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Within the location, you can manage impact to the location, as well as cleanings or maintenance required for that location, as seen below:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_Location1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_Location1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>location2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click on the &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Employee Requests&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab, then click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to continue. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewsWelcome</name>
        <label>News Overview</label>
        <locationX>633</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Impact_to_People_Overview</targetReference>
        </connector>
        <fields>
            <name>NewsDesc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Lastly, you need to keep everyone up to date on company news related to this crisis. The &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;News&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab allows you to create and publish news articles that will show up on the home page, and on the employee portal. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crisis_Welcome_News1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Crisis_Welcome_News1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>news2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Now that you understand how to view and manage a crisis, let&apos;s move on to how we manage employee well-being through the&lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt; People&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click on the&lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt; People&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; tab on the top of the page. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; After that, click &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to continue. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>217</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SkipAhead</targetReference>
        </connector>
        <fields>
            <name>Welcome_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Welcome to the Crisis Response App. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;To get started, we will walk you through setting up your data and explaining some of the functionality in this application. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Click &apos;Next&apos; to get started. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Or_skip_ahead_to_one_of_these_sections</name>
            <choiceReferences>CrisisDescription</choiceReferences>
            <choiceReferences>ImpacttoPeople</choiceReferences>
            <choiceReferences>Requests</choiceReferences>
            <choiceReferences>Location</choiceReferences>
            <choiceReferences>Donotskip</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Donotskip</defaultSelectedChoiceReference>
            <fieldText>Or, skip ahead to one of these sections.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
