flows/Mark_As_Safe.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Notify_Manager</name>
        <label>Notify Manager</label>
        <locationX>946</locationX>
        <locationY>426</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Look_for_Marked_Safe_Impact_Record</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!Get_Person_Record.Name} marked them self safe on the Crisis Response Application. You have been notified since you were listed as the manager for this employee. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Person_Record.Manager_E_Mail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Employee Marked as Safe</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Manager_Impacted</name>
        <label>Notify Manager of Impact</label>
        <locationX>50</locationX>
        <locationY>415</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Personal_Impact</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>This is an automated message to let you know that {!Get_Person_Record.Name} has marked themselves as impacted for the ongoing crisis: {!How_were_you_impacted}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Person_Record.Manager_E_Mail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Employee was Impacted</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>NoImpacted</name>
        <choiceText>No, I Have Been Impacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesIAmSafe</name>
        <choiceText>Yes, I Am Safe.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safe</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Crisis_Exists</name>
        <label>Crisis Exists</label>
        <locationX>970</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Crisis_Does_Not_Exist_Create_Crisis_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Crisis Currently Exists</defaultConnectorLabel>
        <rules>
            <name>Crisis_Exists_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Crisis_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_Screen</targetReference>
            </connector>
            <label>Crisis Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee</name>
        <label>Employee?</label>
        <locationX>1724</locationX>
        <locationY>862</locationY>
        <defaultConnector>
            <targetReference>IsEmployee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Employee</defaultConnectorLabel>
        <rules>
            <name>Is_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_relationship_to_the_company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePersonNonEmployee</targetReference>
            </connector>
            <label>Is Not Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Individual_Safe</name>
        <label>Is Individual Safe?</label>
        <locationX>940</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>ImpactedInfoGather</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Safe</defaultConnectorLabel>
        <rules>
            <name>Individual_is_Safe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_safe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_E_Mail_Populated</targetReference>
            </connector>
            <label>Individual is Safe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Found</name>
        <label>Is Record Found</label>
        <locationX>1383</locationX>
        <locationY>855</locationY>
        <defaultConnector>
            <targetReference>Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Person Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Individual_Safe</targetReference>
            </connector>
            <label>Already Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_E_Mail_Populated</name>
        <label>Manager E-Mail Populated</label>
        <locationX>939</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Look_for_Marked_Safe_Impact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Populated</defaultConnectorLabel>
        <rules>
            <name>Is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Record.Manager_E_Mail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Manager</targetReference>
            </connector>
            <label>Is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Populated</name>
        <label>Manager Email Populated?</label>
        <locationX>301</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Create_Personal_Impact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not populated</defaultConnectorLabel>
        <rules>
            <name>IsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Record.Manager_E_Mail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Manager_Impacted</targetReference>
            </connector>
            <label>Is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marked_Safe_record_already_exists</name>
        <label>Marked Safe record already exists?</label>
        <locationX>474</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>Create_Impact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record does not exist</defaultConnectorLabel>
        <rules>
            <name>Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Marked_Safe_Impact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Marked_Safe_Personal_Impact</targetReference>
            </connector>
            <label>Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Placeholder_Impact_Record_Already_Exists</name>
        <label>Placeholder Impact Record Already Exists?</label>
        <locationX>303</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>Manager_Email_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Exists</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Placeholder_Impact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Placeholder_Impact</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClassOfService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Class_of_Service__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DomesticIntl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Domestic_or_International__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForTravel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Travel__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_to_Company__c</picklistField>
        <picklistObject>Impacted_Person__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>MarkedSafeFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Crisis_ID.Name} &amp; &quot; - Marked Safe&quot;</expression>
    </formulas>
    <formulas>
        <name>PlaceholderImpactedName</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Crisis_ID.Name} &amp; &quot; - Marked Impacted on Portal&quot;</expression>
    </formulas>
    <interviewLabel>Mark As Safe {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Mark As Safe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Impact_Record</name>
        <label>Create Impact Record</label>
        <locationX>641</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Look_for_Marked_Safe_Impact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis__c</field>
            <value>
                <elementReference>Get_Most_Recent_Crisis_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Impact__c</field>
            <value>
                <stringValue>Person marked themselves safe. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MarkedSafeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity_of_Impact__c</field>
            <value>
                <stringValue>Marked Safe / Not Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Marked_Safe_Personal_Impact</name>
        <label>Create Marked Safe Personal Impact</label>
        <locationX>550</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>ThankYouForMarkingSafe</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Personal_Impact__c</field>
            <value>
                <stringValue>Person marked themselves safe on the portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>Look_for_Marked_Safe_Impact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Marked Safe / Not Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impacted_Individual_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Record</name>
        <label>Create Person Record</label>
        <locationX>1598</locationX>
        <locationY>1443</locationY>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_Address__c</field>
            <value>
                <elementReference>EmailEnteredFromLightning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_E_Mail__c</field>
            <value>
                <elementReference>ManagerEmailFromLightning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Name__c</field>
            <value>
                <elementReference>Manager_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_is_your_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Company__c</field>
            <value>
                <elementReference>What_is_your_relationship_to_the_company</elementReference>
            </value>
        </inputAssignments>
        <object>Impacted_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Personal_Impact</name>
        <label>Create Personal Impact</label>
        <locationX>311</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>ThanksForInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Personal_Impact__c</field>
            <value>
                <elementReference>How_were_you_impacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>Look_for_Placeholder_Impact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Time_Off__c</field>
            <value>
                <elementReference>Do_you_require_time_off_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Currently Impacted</stringValue>
            </value>
        </inputAssignments>
        <object>Impacted_Individual_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Placeholder_Impact</name>
        <label>Create Placeholder Impact</label>
        <locationX>408</locationX>
        <locationY>1086</locationY>
        <connector>
            <targetReference>Look_for_Placeholder_Impact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis__c</field>
            <value>
                <elementReference>Get_Most_Recent_Crisis_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlaceholderImpactedName</elementReference>
            </value>
        </inputAssignments>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePersonNonEmployee</name>
        <label>CreatePersonNonEmployee</label>
        <locationX>1595</locationX>
        <locationY>1042</locationY>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_Address__c</field>
            <value>
                <elementReference>EmailEnteredFromLightning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_is_your_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Company__c</field>
            <value>
                <elementReference>What_is_your_relationship_to_the_company</elementReference>
            </value>
        </inputAssignments>
        <object>Impacted_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crisis_Does_Not_Exist_Create_Crisis_Record</name>
        <label>Crisis Does Not Exist - Create Crisis Record</label>
        <locationX>635</locationX>
        <locationY>1349</locationY>
        <connector>
            <targetReference>Get_Most_Recent_Crisis_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Crisis_Description__c</field>
            <value>
                <stringValue>This was created automatically because a crisis record did not exist when employees reported impact to an existing crisis. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Placeholder Crisis</stringValue>
            </value>
        </inputAssignments>
        <object>Crisis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Most_Recent_Crisis_ID</name>
        <label>Get Most Recent Crisis ID</label>
        <locationX>814</locationX>
        <locationY>1042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crisis_Exists</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Crisis__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Record</name>
        <label>Get Person Record</label>
        <locationX>1392</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Found</targetReference>
        </connector>
        <filters>
            <field>E_Mail_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailEnteredFromLightning</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impacted_Person__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Marked_Safe_Impact_Record</name>
        <label>Look for Marked Safe Impact Record</label>
        <locationX>706</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marked_Safe_record_already_exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarkedSafeFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Placeholder_Impact_Record</name>
        <label>Look for Placeholder Impact Record</label>
        <locationX>499</locationX>
        <locationY>846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Placeholder_Impact_Record_Already_Exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlaceholderImpactedName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>CollectInfoOnPerson</name>
        <label>CollectInfoOnPerson</label>
        <locationX>1139</locationX>
        <locationY>1044</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <fields>
            <name>PersonInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Let us know who you are:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_your_name</name>
            <dataType>String</dataType>
            <fieldText>What is your full name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FullFormEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What is your email address?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailEnteredFromLightning</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>What_is_your_relationship_to_the_company</name>
            <choiceReferences>RelationshipPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your relationship to the company?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Email</name>
        <label>Enter If Impacted</label>
        <locationX>686</locationX>
        <locationY>1042</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Most_Recent_Crisis_ID</targetReference>
        </connector>
        <fields>
            <name>Explain</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This form is used to communicate whether or not you&apos;ve been impacted by the ongoing crisis. If you are safe, please mark yourself as safe so we know you&apos;re ok. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If you are impacted, please indicate below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_safe</name>
            <choiceReferences>YesIAmSafe</choiceReferences>
            <choiceReferences>NoImpacted</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>YesIAmSafe</defaultSelectedChoiceReference>
            <fieldText>Are you safe?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ImpactedInfoGather</name>
        <label>ImpactedInfoGather</label>
        <locationX>723</locationX>
        <locationY>846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Look_for_Placeholder_Impact_Record</targetReference>
        </connector>
        <fields>
            <name>Not_Safe_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Person_Record.Name}, &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;your safety is important, and we regret to hear you have been impacted. Please describe a brief description of how you are impacted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_were_you_impacted</name>
            <fieldText>How were you impacted?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_require_time_off_work</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you require time off work?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsEmployee</name>
        <label>IsEmployee</label>
        <locationX>1740</locationX>
        <locationY>1088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Person_Record</targetReference>
        </connector>
        <fields>
            <name>CompanyRoleText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;What is your role in the company?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ManagerEmailFromLightningComponent</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>manager@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manager&apos;s E-Mail</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ManagerEmailFromLightning</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you_Screen</name>
        <label>Thank you Screen</label>
        <locationX>1007</locationX>
        <locationY>1045</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CollectInfoOnPerson</targetReference>
        </connector>
        <fields>
            <name>ThanksForTelling</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for letting us know. We have a bit more information to gather to make sure we can let the right people know.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThanksForInfo</name>
        <label>ThanksForInfo</label>
        <locationX>311</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThanksYouForInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for sharing that you&apos;ve been impacted. Your safety is our greatest concern. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We are closely monitoring the situation, and will provide updates as they come. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYouForMarkingSafe</name>
        <label>ThankYouForMarkingSafe</label>
        <locationX>550</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for marking yourself safe. If this changes, please update your status using this wizard.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>552</locationX>
        <locationY>1042</locationY>
        <connector>
            <targetReference>Enter_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailEnteredFromLightning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerEmailFromLightning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SafeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
