flows/Travel_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>516</locationX>
        <locationY>50</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Received</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your travel request has been received. Thank you for submitting your travel request. You will be notified via e-mail once your request is reviewed. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Person_Record.E_Mail_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Travel Request Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Employee</name>
        <label>Employee?</label>
        <locationX>1499</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>IsEmployee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Employee</defaultConnectorLabel>
        <rules>
            <name>Is_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_relationship_to_the_company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePersonNonEmployee</targetReference>
            </connector>
            <label>Is Not Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Found</name>
        <label>Is Record Found</label>
        <locationX>1004</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Person Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Travel_Details</targetReference>
            </connector>
            <label>Already Registered</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClassOfService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Class_of_Service__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DomesticIntl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Domestic_or_International__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForTravel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Travel__c</picklistField>
        <picklistObject>Employee_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_to_Company__c</picklistField>
        <picklistObject>Impacted_Person__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Travel Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Travel Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Employee_Request</name>
        <label>Create Employee Request</label>
        <locationX>515</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Airfare_Amount__c</field>
            <value>
                <elementReference>Airfare_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_of_Service__c</field>
            <value>
                <elementReference>ClassOfService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domestic_or_International__c</field>
            <value>
                <elementReference>DomesticIntl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date_of_Travel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Amount__c</field>
            <value>
                <elementReference>Hotel_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>To_From_Cities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Amount__c</field>
            <value>
                <elementReference>Other_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>Get_Person_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Travel__c</field>
            <value>
                <elementReference>Reason_for_Travel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Trip__c</field>
            <value>
                <elementReference>Justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Lookup_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date_of_Travel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_From_Cities__c</field>
            <value>
                <elementReference>To_From_Cities</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Record</name>
        <label>Create Person Record</label>
        <locationX>1004</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_Address__c</field>
            <value>
                <elementReference>LightningEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Number__c</field>
            <value>
                <elementReference>Home_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_E_Mail__c</field>
            <value>
                <elementReference>Manager_E_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Name__c</field>
            <value>
                <elementReference>Manager_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Phone__c</field>
            <value>
                <elementReference>Manager_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_is_your_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Number__c</field>
            <value>
                <elementReference>Office_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Company__c</field>
            <value>
                <elementReference>What_is_your_relationship_to_the_company</elementReference>
            </value>
        </inputAssignments>
        <object>Impacted_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePersonNonEmployee</name>
        <label>CreatePersonNonEmployee</label>
        <locationX>1111</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_Address__c</field>
            <value>
                <elementReference>LightningEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Number__c</field>
            <value>
                <elementReference>Home_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_is_your_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Number__c</field>
            <value>
                <elementReference>Office_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Company__c</field>
            <value>
                <elementReference>What_is_your_relationship_to_the_company</elementReference>
            </value>
        </inputAssignments>
        <object>Impacted_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Record</name>
        <label>Get Person Record</label>
        <locationX>1012</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Found</targetReference>
        </connector>
        <filters>
            <field>E_Mail_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LightningEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impacted_Person__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_ID</name>
        <label>Lookup Record Type ID</label>
        <locationX>789</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel_Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>crisisapp__Employee_Request__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>CollectInfoOnPerson</name>
        <label>CollectInfoOnPerson</label>
        <locationX>537</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>NoPersonFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Let us know who you are:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comm_LightningEmailInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LightningEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>What_is_your_name</name>
            <dataType>String</dataType>
            <fieldText>What is your full name?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_is_your_relationship_to_the_company</name>
            <choiceReferences>RelationshipPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your relationship to the company?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Home_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Home Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Office_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Office Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Travel_Details</name>
        <label>Enter Travel Details</label>
        <locationX>689</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Employee_Request</targetReference>
        </connector>
        <fields>
            <name>Details_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;What are the details of your requested trip?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_of_Travel</name>
            <dataType>Date</dataType>
            <fieldText>Start Date of Travel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_of_Travel</name>
            <dataType>Date</dataType>
            <fieldText>End Date of Travel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_From_Cities</name>
            <dataType>String</dataType>
            <fieldText>To/From Cities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Travel</name>
            <choiceReferences>ReasonForTravel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Travel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Justification</name>
            <dataType>String</dataType>
            <fieldText>Justification</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Domestic_or_International</name>
            <choiceReferences>DomesticIntl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Domestic or International?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Class_of_Service</name>
            <choiceReferences>ClassOfService</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Class of Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TravelDetails_Budget</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Finance Information:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Airfare_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Airfare Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Hotel_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Hotel Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Other_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Other Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsEmployee</name>
        <label>IsEmployee</label>
        <locationX>1490</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Person_Record</targetReference>
        </connector>
        <fields>
            <name>IsEmployee_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;What is your role in the company?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_E_Mail</name>
            <dataType>String</dataType>
            <fieldText>Manager E-Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_Phone</name>
            <dataType>String</dataType>
            <fieldText>Manager Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Received</name>
        <label>Received</label>
        <locationX>745</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WeGotIt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you, we have received your travel request. You will be notified via e-mail once reviewed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>321</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>CollectInfoOnPerson</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LightningEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
